.header{
  width: 100%;
  padding: 2rem 0;

  color: #fff;
  background-color: hsla(345, 53%, 56%, 0.8);
  border-radius: 0 0 10rem 10rem;
}
.header__title{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.4rem;
  font-weight: 400;
}
.header__icon{
  width: 100px;
  height: 100px;
  margin: 0 1rem;
}