.header{
  width: 100%;
  padding: 2rem 0;

  color: #fff;
  background-color: rgba(61, 45, 105,0.9);
  border-radius: 0 0 2rem 2rem;
}
.header__title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__icon{
  width: 100px;
  height: 100px;
  margin: 0 1rem;
}