*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5;
}

.App {
  text-align: center;
  background-image: linear-gradient(to left bottom, #3d2d69, #4d306d, #5c3270, #6b3473, #793775, #913c76, #a84375, #bc4c73, #d9606c, #ee7a63, #fb995c, #ffba5a);
}

/* width */
::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background:#e2f0ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(39, 41, 83);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 57, 104);
}
